<div id="containerization">
	<div class="btn-group">
		<button type="button" class="btn-menu">Batch Mode (0)</button>
		<button type="button" class="btn-menu">Selective Mode (1)</button>
		<button type="button" class="btn-menu">Close Bag HU (2)</button>
	</div>
	<div class="btn-group">
		<button type="button" class="btn-menu">Update HU (3)</button>
		<button type="button" class="btn-menu">Merge HU (4)</button>
		<button type="button" class="btn-menu">Empty HU (5)</button>
	</div>
	<div class="btn-group">
		<button type="button" class="btn-menu">Arr & Transit Chkpnt
			(6)</button>
		<button type="button" class="btn-menu">Decontainerize HU (7)
		</button>
		<button type="button" class="btn-menu">Re-Open HU (8)</button>
	</div>
</div>