<link rel="stylesheet" type="text/css"
	href="../css/bootstrap/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="../css/font-awesome/css/font-awesome.css">
<link rel="stylesheet" type="text/css"
	href="../css/bootstrap/bootstrap-theme.css">
<link rel="stylesheet" type="text/css" href="../css/layout_am.css">
<link rel="stylesheet" type="text/css" href="../css/ng-grid.min.css">
<link rel="stylesheet" type="text/css" href="../css/prime-faces-dhl.css">

<link rel="stylesheet" type="text/css" href="../css/listing.css">
<link rel="stylesheet" type="text/css" href="../css/modaldialog.css">
<link rel="stylesheet" type="text/css" href="../css/style.css">
<link rel="stylesheet" type="text/css" href="../css/default.css">
<link rel="stylesheet" type="text/css" href="../css/prime-faces.css">

<style type="text/css">
.mvmntMenu .button {
	background-color: #FFCC00;
	font-weight: bold;
	width: 105px;
	height: 20px;
	border: double 1px #A8A8A8;
}

nav>.ng-scope {
	height: 20px;
}

nav>.ng-scope ul {
	margin: 0 0 0 0;
	height: 20px;
}

.select-page {
	width: 50px;
	text-align: center;
}

.pagination li a input {
	padding: 0;
	margin: -5px 0;
}
</style>
<div id="main">
	<br /> <br /> <br /> <br /> <br />
	<table style="width: 100%">
		<tr>
			<td align="left" style="width: 10%"><input
				id="frmSubmitData:btnBack" type="button"
				name="frmSubmitData:btnBack" value="Back"
				class="button shorterbutton" ui-sref="movementPlus" /></td>
			<td align="left"><label>Click Back to continue</label></td>
			<td align="right"><label
				style="font-weight: bold; font-size: 10px"> MVT03B1-1</label></td>
		</tr>
	</table>
	<div ng-controller="assignMovementCtrl as amc">
	<table class="contenttable" style="width: 100%">
		<tr>
			<td class="title"><label> Movement Information</label></td>
		</tr>
	</table>
	<table style="width: 100%; margin-top: 5px;" st-pipe="amc.callServer" st-table="amc.displayed">
		<thead>
			<tr>
				<td class="result_head"><label> Movement No</label></td>
				<td class="result_head"><label> Transpt Reg</label></td>
				<td class="result_head"><label> Destination </label></td>
				<td class="result_head"><label> S.T.D.</label></td>
				<td class="result_head"><label> Mode</label></td>
				<td class="result_head"><label> MAWB</label></td>
			</tr>
		</thead>
		<tbody>
		<tr ng-repeat="row in amc.displayed.amc_data">
			<td class="result_col"><label>{{row.movementNo}}</label></td>
			<td class="result_col"><label>{{row.transptReg}}</label></td>
			<td class="result_col"><label>{{row.destination}}</label></td>
			<td class="result_col"><label>{{row.std}}</label></td>
			<td class="result_col"><label>{{row.transptType}}</label></td>
			<td class="result_col"><label>{{row.mawb}}</label></td>
		</tr>
		</tbody>
	</table>
	<br />
	<div id="frmSubmitData:dtAllocated" class="ui-datatable ui-widget">
		<div class="ui-datatable-header ui-widget-header ui-corner-top">
			<label> Allocated Parent HU's</label><label> HUID </label><input
				id="frmSubmitData:dtAllocated:txtUnassignHUID" type="text"
				name="frmSubmitData:dtAllocated:txtUnassignHUID" autocomplete="off"
				value="" class="contentInput" onblur="changeToUpper(this)"
				onkeypress="checkKeyPress(event);" /> (PL checkpoint will be
			generated)
		</div>
		<div class="ui-datatable-tablewrapper">
			<table role="grid" st-pipe="amc.callServer" st-table="amc.displayed">
				<thead id="frmSubmitData:dtAllocated_head">
					<tr role="row">
						<th id="frmSubmitData:dtAllocated:j_idt101"
							class="ui-state-default" role="columnheader"><span>Opt</span></th>
						<th id="frmSubmitData:dtAllocated:j_idt105"
							class="ui-state-default" role="columnheader"
							><span>HUID</span></th>
						<th id="frmSubmitData:dtAllocated:j_idt107"
							class="ui-state-default" role="columnheader"
							><span>Reg No.</span></th>
						<th id="frmSubmitData:dtAllocated:j_idt109"
							class="ui-state-default" role="columnheader"><span>HU
								Type</span></th>
						<th id="frmSubmitData:dtAllocated:j_idt111"
							class="ui-state-default" role="columnheader"
							><span>EPO</span></th>
						<th id="frmSubmitData:dtAllocated:j_idt113"
							class="ui-state-default" role="columnheader"><span>Flagging</span></th>
						<th id="frmSubmitData:dtAllocated:j_idt115"
							class="ui-state-default" role="columnheader"><span>Status</span></th>
					</tr>
				</thead>
				<tfoot></tfoot>
				<tbody id="frmSubmitData:dtAllocated_data"
					class="ui-datatable-data ui-widget-content" ng-show="!amc.isLoading">
					<tr class="ui-widget-content ui-datatable-empty-message"  ng-repeat="row in amc.displayed.hu_data_allocated">
					<td><select>
							<option> </option>
							<option>6</option>
					</select></td>
					<td>{{row.handlingUnit}}</td>
					<td>{{row.handlingUnitType}}</td>
					<td>{{row.regNo}}</td>
					<td>{{row.epo}}</td>
					<td>{{row.flagging}}</td>
					<td>{{row.status}}</td>
					</tr>
				</tbody>
				<tbody ng-show="amc.isLoading">
				<tr>
					<td colspan="7" class="text-center">No Records....</td>
				</tr>
			</tbody>
			</table>
		</div>  
		<div id="frmSubmitData:dtAllocated_paginator_bottom"
			class="ui-paginator ui-paginator-bottom ui-widget-header ui-corner-bottom">
			<span
				class="ui-paginator-first ui-state-default ui-corner-all ui-state-disabled"><span
				class="ui-icon ui-icon-seek-first">p</span></span><span
				class="ui-paginator-prev ui-state-default ui-corner-all ui-state-disabled"><span
				class="ui-icon ui-icon-seek-prev">p</span></span><span
				class="ui-paginator-current">(1 of )</span><span
				class="ui-paginator-next ui-state-default ui-corner-all ui-state-disabled"><span
				class="ui-icon ui-icon-seek-next">p</span></span><span
				class="ui-paginator-last ui-state-default ui-corner-all ui-state-disabled"><span
				class="ui-icon ui-icon-seek-end">p</span></span>
		</div>
	</div>
	<table class="ui-widget-pagination-bottom">
		<tr>
			<td><label> Total Records: </label></td>
		</tr>
	</table>
	<br />
	<div id="frmSubmitData:dtDeallocate" class="ui-datatable ui-widget">
		<div class="ui-datatable-header ui-widget-header ui-corner-top">
			<input id="frmSubmitData:dtDeallocate:globalFilter"
				name="frmSubmitData:dtDeallocate:globalFilter" type="text"
				style="display: none"
				class="ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all myGlobalFilter" />
			<label> Parent HU's Not Assigned EPO</label>
			<div id="frmSubmitData:dtDeallocate:globalFilterOption"
				class="ui-selectonemenu ui-widget ui-state-default ui-corner-all ui-helper-clearfix">
							<select>
								<option> </option>
								<option>ALL</option>
							</select>
			</div>
		</div>
		<div class="ui-datatable-tablewrapper">
			<table role="grid" st-pipe="amc.callServer" st-table="amc.displayed">
				<thead id="frmSubmitData:dtDeallocate_head">
					<tr role="row">
						<th id="frmSubmitData:dtDeallocate:j_idt123"
							class="ui-state-default" role="columnheader" style="width: 60px;"><span>Opt</span></th>
						<th id="frmSubmitData:dtDeallocate:j_idt127"
							class="ui-state-default" role="columnheader"
							style="width: 130px;"><span>HUID</span></th>
						<th id="frmSubmitData:dtDeallocate:j_idt129"
							class="ui-state-default" role="columnheader"
							style="width: 120px;"><span>Reg No.</span></th>
						<th id="frmSubmitData:dtDeallocate:j_idt131"
							class="ui-state-default" role="columnheader" style="width: 80px;"><span>HU
								Type</span></th>
						<th id="frmSubmitData:dtDeallocate:epoColumn"
							class="ui-state-default" role="columnheader"><span>EPO</span></th>
						<th id="frmSubmitData:dtDeallocate:j_idt134"
							class="ui-state-default" role="columnheader"><span>Flagging</span></th>
						<th id="frmSubmitData:dtDeallocate:j_idt136"
							class="ui-state-default" role="columnheader"><span>Status</span></th>
					</tr>
				</thead>
				<tfoot></tfoot>
				<tbody id="frmSubmitData:dtDeallocate_data"
					class="ui-datatable-data ui-widget-content">
					<tr data-ri="0" class="ui-widget-content ui-datatable-even" role="row" ng-repeat="row in amc.displayed.hu_data_notAssigned">
						<td>
							<select>
								<option> </option>
								<option>6</option>
							</select>
						</td>
					<td>{{row.handlingUnit}}</td>
					<td>{{row.handlingUnitType}}</td>
					<td>{{row.regNo}}</td>
					<td>{{row.epo}}</td>
					<td>{{row.flagging}}</td>
					<td>{{row.status}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div id="frmSubmitData:dtDeallocate_paginator_bottom"
			class="ui-paginator ui-paginator-bottom ui-widget-header ui-corner-bottom">
			<span
				class="ui-paginator-first ui-state-default ui-corner-all ui-state-disabled"><span
				class="ui-icon ui-icon-seek-first">p</span></span><span
				class="ui-paginator-prev ui-state-default ui-corner-all ui-state-disabled"><span
				class="ui-icon ui-icon-seek-prev">p</span></span><span
				class="ui-paginator-current">(1 of )</span><span
				class="ui-paginator-next ui-state-default ui-corner-all"><span
				class="ui-icon ui-icon-seek-next">p</span></span><span
				class="ui-paginator-last ui-state-default ui-corner-all"><span
				class="ui-icon ui-icon-seek-end">p</span></span>
		</div>
	</div>
	<span id="frmSubmitData:output">
		<table class="ui-widget-pagination-bottom">
			<tr>
				<td><label> Total Records: </label></td>
			</tr>
		</table>
	</span> <br /> <label style="font-weight: bold;"> Operation: 6 =
		Allocate HU's, 9 = Deallocate HU's</label>
	</div>
</div>