<link rel="stylesheet" type="text/css" href="../css/bootstrap/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../css/font-awesome/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="../css/bootstrap/bootstrap-theme.css">
<link rel="stylesheet" type="text/css" href="../css/layout.css">
<link rel="stylesheet" type="text/css" href="../css/layout_am.css">
<link rel="stylesheet" type="text/css" href="../css/ng-grid.min.css">
<link rel="stylesheet" type="text/css" href="../css/prime-faces-dhl.css">

<link rel="stylesheet" type="text/css" href="../css/listing.css">
<link rel="stylesheet" type="text/css" href="../css/modaldialog.css">
<link rel="stylesheet" type="text/css" href="../css/style.css">
<link rel="stylesheet" type="text/css" href="../css/default.css">
<link rel="stylesheet" type="text/css" href="../css/prime-faces.css">

<style type="text/css">
.mvmntMenu .button {
	background-color: #FFCC00;
	font-weight: bold;
	width: 105px;
	height: 20px;
	border: double 1px #A8A8A8;
}

nav>.ng-scope {
	height: 20px;
}

nav>.ng-scope ul {
	margin: 0 0 0 0;
	height: 20px;
}

.select-page {
	width: 50px;
	text-align: center;
}

.pagination li a input {
	padding: 0;
	margin: -5px 0;
}
</style>
<div class="main">

	<div class="content" ng-controller="assignMovementCtrl as amc">
		<br /><br />
		<table>
			<tbody ng-show = "amc.showMovementMessage">
				<tr>
					<td>
						<span id="frmSubmitData:j_idt63"><ul><li class="commonErrorMessage">[3081] Successfully Assigned HU to Movement</li></ul></span>
					</td>
				</tr>
			</tbody>
		</table>
		
		<table style="width: 100%">
			<tr>
				<td align="left" style="width: 10%"><input
					id="frmSubmitData:btnBack" type="button"
					name="frmSubmitData:btnBack" value="Back"
					class="button shorterbutton" ui-sref="movementPlus" /></td>
				<td align="left"><label>Click Back to continue</label></td>
				<td align="right"><label
					style="font-weight: bold; font-size: 10px"> MVT03B1-1</label></td>
			</tr>
		</table>
		<table class="contenttable" style="width: 100%">
			<tr>
				<td class="title"><label> Movement Information</label></td>
			</tr>
		</table>
		<table style="width: 100%; margin-top: 5px;">
		<thead>
			<tr>
				<td class="result_head"><label> Movement No</label></td>
				<td class="result_head"><label> Transpt Reg</label></td>
				<td class="result_head"><label> Destination </label></td>
				<td class="result_head"><label> S.T.D.</label></td>
				<td class="result_head"><label> Mode</label></td>
				<td class="result_head"><label> MAWB</label></td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="result_col"><label>{{amc.selected_movement_data.movementNo}}</label></td>
				<td class="result_col"><label>{{amc.selected_movement_data.transptReg}}</label></td>
				<td class="result_col"><label>{{amc.selected_movement_data.destination}}</label></td>
				<td class="result_col"><label>{{amc.selected_movement_data.std}}</label></td>
				<td class="result_col"><label>{{amc.selected_movement_data.transptType}}</label></td>
				<td class="result_col"><label>{{amc.selected_movement_data.mawb}}</label></td>
			</tr>
		</tbody>
		</table>
		 <br />
		<div id="frmSubmitData:dtAllocated" class="ui-datatable ui-widget">
			<div class="ui-datatable-tablewrapper">
				<table role="grid" st-pipe="amc.callServerAllocatedData" st-table="amc.displayedAllocatedData">
					<thead id="frmSubmitData:dtAllocated_head">
						<tr>
							<th class="result_head" colspan = "7" style="font-size:14px">
									<label> Allocated Parent HU's HUID</label>
									<input st-search="handlingUnit" /> (PL checkpoint will be generated)
							</th>
						</tr>
						<tr role="row">
							<th class="ui-state-default" style="width: 60px;" ng-hide="hideCol"><span>Opt</span></th>
							<th class="ui-state-default" style="width: 130px;" st-sort="handlingUnit"><span>HUID</span></th>
							<th class="ui-state-default" style="width: 120px;"><span>Reg No.</span></th>
							<th class="ui-state-default" style="width: 80px;"><span>HU Type</span></th>
							<th class="ui-state-default"><span>EPO</span></th>
							<th class="ui-state-default"><span>Flagging</span></th>
							<th class="ui-state-default"><span>Status</span></th>
						</tr>
					</thead>
					<tbody ng-show="!amc.isAllocedDataTableEmpty" id="frmSubmitData:dtAllocated_data" class="ui-datatable-data ui-widget-content">
						<tr class="ui-widget-content ui-datatable-empty-message" ng-repeat="row in amc.displayedAllocatedData">
							<td>
								<select name="opt1">
										<option value="1"></option>
										<option value="6">6</option>
										<option value="9">9</option>
								</select>
							</td>
							<td>{{row.handlingUnit}}</td>
							<td>{{row.regNo}}</td>
							<td>{{row.handlingUnitType}}</td>
							<td>{{row.epo}}</td>
							<td>{{row.flagging}}</td>
							<td>{{row.status}}</td>
						</tr>
					</tbody>
					<tbody ng-show="amc.isAllocedDataTableEmpty">
						<tr class="ui-widget-content ui-datatable-empty-message">
							<td colspan="7" class="text-left">No Records....</td>
						</tr>
					</tbody>
					<tfoot>
						<tr style="height: 20px;">
							<td class="result_head" colspan="7" style="background-color: #FFD900; height: 20px;">
								<div style="height:20px;" st-items-by-page="5" st-pagination="" st-template="/ocnt-client/view/modules/movement/assign_movement_pagination.custom.html"></div>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
		<span id="frmSubmitData:output">
			<table class="ui-widget-pagination-bottom">
				<tr>
					<td><label> Total Records: {{amc.totalAllocatedRec}}</label></td>
				</tr>
			</table>
		</span>
		<br /> 
		<div id="frmSubmitData:dtDeallocate" class="ui-datatable ui-widget"> 
		<div class="ui-datatable-tablewrapper">
			<table role="grid" st-pipe="amc.callServerNonAssignedData" st-table="amc.displayedNonAssignedData">
				<thead id="frmSubmitData:dtDeallocate_head">
					<tr>
						<th class="result_head" colspan = "7" style="font-size:14px">
							<label> Parent HU's Not Assigned EPO</label>
							<select st-search="epo">
								<option> </option>
								<option>ALL</option>
								<option>HKGHUB</option>
								<option>CEB</option>
							</select>
						</th>
					</tr>
					<tr role="row">
						<th class="ui-state-default" style="width: 60px;"><span>Opt</span></th>
						<th class="ui-state-default" style="width: 130px;"><span>HUID</span></th>
						<th class="ui-state-default" style="width: 120px;"><span>Reg No.</span></th>
						<th class="ui-state-default" style="width: 80px;"><span>HU Type</span></th>
						<th class="ui-state-default" st-sort="epo"><span>EPO</span></th>
						<th class="ui-state-default"><span>Flagging</span></th>
						<th class="ui-state-default"><span>Status</span></th>
					</tr>
				</thead>
				<tfoot></tfoot>
				<tbody ng-show="!amc.isNonAssignedDataTableEmpty"
					id="frmSubmitData:dtDeallocate_data"
					class="ui-datatable-data ui-widget-content">
					<tr data-ri="0" class="ui-widget-content ui-datatable-even" role="row" ng-repeat="row in amc.displayedNonAssignedData">
						<td>
							<select>
									<option value="1"></option>
									<option value="6">6</option>
									<option value="9">9</option>
							</select>
						</td>
					<td>{{row.handlingUnit}}</td>
					<td>{{row.regNo}}</td>
					<td>{{row.handlingUnitType}}</td>
					<td>{{row.epo}}</td>
					<td>{{row.flagging}}</td>
					<td>{{row.status}}</td>
					</tr>
				</tbody>
				<tbody ng-show="amc.isNonAssignedDataTableEmpty">
					<tr class="ui-widget-content ui-datatable-empty-message">
						<td colspan="7" class="text-left">No Records....</td>
					</tr>
				</tbody>
				<tfoot>
					<tr style="height: 20px;">
						<td class="result_head" colspan="7" style="background-color: #FFD900; height: 20px;">
							<div style="height:20px;" st-items-by-page="5" st-pagination="" st-template="/ocnt-client/view/modules/movement/assign_movement_pagination.custom.html">
							</div>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
	<span id="frmSubmitData:output">
		<table class="ui-widget-pagination-bottom">
			<tr>
				<td><label> Total Records: {{amc.totalNonAssignedRec}}</label></td>
			</tr>
		</table>
	</span>
	<br/>
		<label style="font-weight: bold;"> Operation: 6 = Allocate HU's, 9 = Deallocate HU's</label>
	</div>
</div>