<link rel="stylesheet" type="text/css"
	href="../css/bootstrap/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="../css/font-awesome/css/font-awesome.css">
<link rel="stylesheet" type="text/css"
	href="../css/bootstrap/bootstrap-theme.css">
<link rel="stylesheet" type="text/css" href="../css/layout.css">
<link rel="stylesheet" type="text/css" href="../css/ng-grid.min.css">
<style type="text/css">
.mvmntMenu .button {
	background-color: #FFCC00;
	font-weight: bold;
	width: 105px;
	height: 20px;
	border: double 1px #A8A8A8;
}

nav>.ng-scope {
	height: 20px;
}

nav>.ng-scope ul {
	margin: 0 0 0 0;
	height: 20px;
}

.select-page {
  width: 50px;
  text-align: center;
}
.pagination li a input {
  padding: 0;
  margin: -5px 0;
}
</style>
<div class="main">
	<div class="homeMenu" style="text-align: right;">
		<span class="icon icon-home" aria-hidden="true"></span> Selected Mode:
		<select class="selectpicker">
			<optgroup label="CONTAINERIZATION">
				<option>Batch Mode</option>
				<option>Selective Mode</option>
				<option>Close Bag HU</option>
				<option>Update HU</option>
				<option>Merge HU</option>
				<option>Empty HU</option>
				<option>Arr & Transit Chkpnt</option>
				<option>Decontainerize HU</option>
				<option>Re-Open HU</option>
			</optgroup>
			<optgroup label="PRINT LABELS">
				<option>Print HU Label</option>
			</optgroup>
			<optgroup label="Movement">
				<option selected="selected">+ HU to MVMNT</option>
				<option>- HU to MVMNT</option>
				<option>Inbound Movement</option>
			</optgroup>
			<optgroup label="Query">
				<option>Query Tree</option>
			</optgroup>
		</select>
	</div>
	<div class="content" ng-controller="movementCtrl as mc">
		<div class="title">
			<span style="color: #d70241; font-weight: bold;">Movement
				Information</span>
		</div>
		<div class="mvmntMenu" style="margin-bottom: 10px;">
			<div class="contenttable" style="width: 100%;">
				<div style="display: inline;">
					Day Range: <img src="../img/minus-16.png"> <input type="text"
						value="0" style="width: 30px; text-align: center;"> <input
						type="text" value="0" style="width: 30px; text-align: center;">
					<img src="../img/plus-16.png"> <input type="submit"
						value="Search" class="button">
				</div>
				<div style="display: inline; float: right;">
					<p style="display: inline;">You are currently in {{mode}} Mode</p>
					<button ng-click="switchMode()"
						class="button"
						style="display: inline;">Switch Mode</button>
				</div>
			</div>
		</div>
		<table id="mvmentDetailsID" class="table" st-pipe="mc.callServer" st-table="mc.displayed">
			<thead>
				<tr>
					<th st-sort="operation" ng-hide="hideCol">OPT</th>
					<th st-sort="movementNo">Movement No</th>
					<th st-sort="transptReg">TRANSPT REG</th>
					<th st-sort="transptType">TRANSPT TYPE</th>
					<th st-sort="std">S.T.D</th>
					<th st-sort="destination">DESTINATION</th>
					<th st-sort="mawb">MAWB</th>
					<th st-sort="mfst">MFST</th>
					<th st-sort="cutOffTime">CUT OFF TIME</th>
					<th st-sort="status">STATUS</th>
				</tr>
				<tr>
					<th ng-hide="hideCol"></th>
					<th><input st-search="movementNo" /></th>
					<th></th>
					<th></th>
					<th><input st-search="std" /></th>
					<th><select st-search="destination">
							<option></option>
							<option ng-repeat="val in mc.dest_filter">{{val}}</option>
					</select></th>
					<th></th>
					<th><select st-search="mfst">
							<option></option>
							<option></option>
					</select></th>
					<th><input st-search="cutOffTime" /></th>
					<th><input st-search="status" /></th>
				</tr>
			</thead>
			<tbody ng-show="!mc.isLoading">
				<tr ng-repeat="row in mc.displayed">
					<td ng-hide="hideCol">
					<select ng-model="row" ng-change="processOpt(row)">
							<option></option>
							<option ng-repeat="operation in mc.opt_filter">{{operation}}</option>
					</select></td>
					<td>{{row.movementNo}}</td>
					<td>{{row.transptReg}}</td>
					<td>{{row.transptType}}</td>
					<td>{{row.std}}</td>
					<td>{{row.destination}}</td>
					<td>{{row.mawb}}</td>
					<td>{{row.mfst}}</td>
					<td>{{row.cutOffTime}}</td>
					<td>{{row.status}}</td>
				</tr>
			</tbody>
			<tbody ng-show="mc.isLoading">
				<tr>
					<td colspan="4" class="text-center">Loading ...</td>
				</tr>
			</tbody>
			<tfoot style="height: 20px;">	
				<tr style="height: 20px;">
					<td class="text-center"
						colspan="10" style="background-color: #FFD900; height: 20px;">
						<div style="height:20px;" st-items-by-page="10" st-pagination="" st-template="/ocnt-client/view/modules/movement/pagination.custom.html"></div>
					</td>
				</tr>
			</tfoot>
		</table>
		<div>Operation: 4 = Allocate/Deallocate HU's, 5 = Offload MAWB,
			7 = Close Movement, 10 = Depart Movement, 12 = Reopen Movement, T =
			HU Transfer</div>
	</div>
</div>