<header ng-controller="homeCtrl">
			<nav>
				<div class="navbar navbar-default navbar-fixed-top">
					<div class="row">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle"
								data-toggle="collapse" data-target=".navbar-collapse">
								<span class="icon-bar"></span> 
							</button>
							<a class="navbar-brand" href="#"></a>
						</div>
						<div class="greeting">
							<div class="name" style="display:inline;">
								Welcome, 
								<a href="#"><span>Guest</span></a>
							</div>
							<div id="currentDateTime" class="">
								Datetime:
							</div>
							<div id="currentFacility" class="">
								Current Facility: <select ng-model="location">
													<option val="ICNGTW">ICNGTW</option>
													<option val="WAWGTW">WAWGTW</option>
												  </select>
							</div>
							<div id="currentRole" class="">
								Role: <span>Facility Manager</span>
							</div>
							<div id="currentWorkstation" class="">
								Workstation ID: <span></span>
							</div>
						</div>
					</div>
				</div>
			</nav>
	</header>